---
layout: default
---

<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

<div class="sample-layout" style="margin-top: 20px;">

  <!-- Link to Next Sample Page (if available) -->
  {% if page.next %}
    <p><a href="{{ site.baseurl }}{{ page.next.url }}">Next: {{ page.next.title }}</a></p>
  {% endif %}

  <!-- Link to Previous Sample Page (if available) -->
  {% if page.previous %}
    <p><a href="{{ site.baseurl }}{{ page.previous.url }}">Previous: {{ page.previous.title }}</a></p>
  {% endif %}

  <!-- Link to Home Page -->
  <p><a href="{{ site.baseurl | append: '/' }}">Home</a></p>

</div>